
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1, h2 {
  font-weight: 700;
}

p {
  font-weight: 400;
}


body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  min-height: 100vh;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


header {
  background-color: #282c34;
  padding: 15px 0;
}

.logo {
  color: #ffffff;
  font-size: 1.8em;
  font-weight: bold;
}


.hero {
  background-color: #61dafb;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}


.btn {
  width: 20%;
  background-color: #0066FF;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s;
  border: none;
}

.btn:hover {
  background-color: #0059de;
}


.input-section {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -50px;
  position: relative;
  z-index: 2;
}

.input-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 150px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.3em;
  margin-bottom: 20px;
}


.sobre-section {
  padding: 50px 20px;
  text-align: center;
  margin-top: 50px;
}


footer {
  background-color: #282c34;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: auto; 
}
